@mobile-widths-only: ~"(max-width: 759px)";
@mobile-widths: ~"(max-width: 759px)";
@tablet-widths: ~"(max-width: 1199px)";

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sant-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container-fluid () {
  width: 88%;
  max-width: 940px;
  margin: 0 auto;
}

//page-header
.page-header {
  background-color: #1d2631;
  background-image: url("../img/background-fullsize.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-nav {
  width: auto;
  padding-top: 27px;
  padding-bottom: 43px;
  background-color: rgba(0, 0, 0, .3);
}

.main-nav__logo {
  font-size: 0;
  width: 150px;
  height: 40px;
  background-image: url("../img/Pink-logo-3@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-nav__wrapper {
  .container-fluid();
  display: flex;
  align-items: flex-end;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.main-nav__item {
  list-style: none;
  margin-right: 80px;

  &:last-child {
    margin-right: 0;
  }

  a {
    position: relative;
    line-height: 18px;
    color: #fff;
    text-decoration: none;

    &:hover::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:active {
      color: rgba(255, 255, 255, .3);
    }

    &:active::after {
      content: none;
    }
  }

  &--active {
    a:hover::after {
      content: none;
    }

    a:active {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.intro {
  .container-fluid();
  padding: 115px 0;
  background-image: url("../img/iphone-hand-3@1x.png");
  background-repeat: no-repeat;
  background-position: 19px bottom;
}

.intro__wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__slogan {
  font-size: 50px;
  line-height: 55px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin-bottom: 55px;
}

.intro__btn {
  align-self: stretch;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 10px;
  padding-bottom: 13px;
  margin-bottom: 65px;
  border: 3px solid #fff;
  border-radius: 23px;

  &:hover {
    color: #d22856;
    background-color: #fff;
  }

  &:active {
    color: rgba(210, 40, 86, .3);
  }
}

.store-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-size: 0;
  list-style: none;
  margin-bottom: 50px;
}

.store-icon__apple {
  width: 47px;
  height: 60px;
  margin-right: 25px;
  background-image: url("../img/apple-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.store-icon__google {
  width: 47px;
  height: 60px;
  margin-right: 25px;
  background-image: url("../img/android-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.store-icon__windows {
  width: 47px;
  height: 60px;
  background-image: url("../img/microsoft-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro__legend {
  font-weight: 300;
  text-align: center;
  color: #fff;
}

@media @tablet-widths {

  .main-nav{
    position: relative;
    border-bottom: 1px solid transparent;
    &--menu-open {
      border-bottom: 1px solid #000;
      background-color: #283645;
    }
  }

  .main-nav__logo {
    background-image: url("../img/Pink-logo-2@2x.png");
  }

  .main-nav__toggle {
    display: block;
    font-size: 0;
    width: 50px;
    height: 24px;
    margin-left: auto;
    border: none;
    background-color: transparent;
    background-image: url("../img/menu-burger.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &--close {
      background-image: url("../img/menu-cross.svg");
    }
  }

  .main-nav__list {
    position: absolute;
    top: 111px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
    width: 100%;
    text-align: center;
    background-color: #283645;
  }

  .js-hidden {
    display: none;
  }

  .main-nav__item {
    padding: 12px;
    margin-right: 0;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;

    a {
      line-height: 32px;

      &:hover::after {
        content: none;
      }

      &:hover {
        color: #d22856;
      }

      &:active {
        color: rgba(210, 40, 86, .3);
      }
    }

    &--active {
      a:hover {
        color: rgba(255, 255, 255, 1);
      }

      a:active {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .intro {
    padding-top: 85px;
    background-image: url("../img/iphone-hand-2@1x.png");
    background-position: center bottom;
  }

  .intro__slogan {
    font-size: 40px;
    line-height: 45px;
    padding: 0 30px;
    margin-bottom: 35px;
  }

  .intro__btn {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 45px;
  }

  .store-icon {
    margin-bottom: 35px;
  }

  .store-icon__google {
    opacity: .3;
  }
}

@media @mobile-widths {

  .page-header {
    background-image: url("../img/iphone-hand-1.png"), url("../img/background-1@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 174px, center -30px;
    background-size: auto, cover;
  }

  .main-nav {
    padding: 21px 0;
    margin-bottom: 392px;
  }

  .main-nav__logo {
    width: 78px;
    height: 25px;
    background-image: url("../img/Pink-logo-1.png");
  }

  .main-nav__list {
    top: 68px;
  }

  .intro {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 30px;
    background-color: #1d2631;
    background-image: none;
  }

  .intro__wrapper {
    .container-fluid();
  }

  .intro__slogan {
    display: none;
  }

  .intro__btn {
    margin-bottom: 30px;
  }

  .store-icon {
    margin-bottom: 25px;
  }

  .store-icon__google {
    opacity: 1;
  }

  .intro__legend {
    font-size: 14px;
    line-height: 24px;
  }
}
