h1.visually-hidden Pink - взгляните на жизнь иначе!
nav.main-nav.main-nav--menu-open.main-nav--page-inner
  .main-nav__wrapper
    a.main-nav__logo(href="index.html") Pink
    button.main-nav__toggle.main-nav__toggle--close(type="button") Открыть меню
    ul.main-nav__list
      li.main-nav__item
        a(href="index.html") Главная
      li.main-nav__item.main-nav__item--active
        a Фотографии
      li.main-nav__item 
        a(href="#") Конкурс
      li.main-nav__item 
        a(href="#") HTML Academy
p.page-title Фотографии
  br
  | пользователей
