svg.visually-hidden
  symbol#like(viewBox="0 0 507.168 507.168")
    path(d="M368.804,38.31c-46.848,0-89.452,23.064-115.212,62.008C227.836,61.374,185.22,38.31,138.384,38.31C62.08,38.31,0,100.402,0,176.738c0,69.304,43.66,141.764,126.264,209.576c62.048,50.924,124.96,81.84,125.592,82.144c0.544,0.268,1.14,0.4,1.732,0.4s1.188-0.128,1.736-0.4c0.628-0.304,63.544-31.22,125.584-82.144c82.604-67.808,126.26-140.268,126.26-209.576C507.172,100.402,445.1,38.31,368.804,38.31z")
  symbol#contrast(viewBox="0 0 338 338")
    path(d="M169,0h-15v0.673C67.814,8.29,0,80.868,0,169s67.814,160.71,154,168.327V338h15c93.187,0,169-75.813,169-169S262.187,0,169,0zM30,169C30,97.423,84.384,38.316,154,30.812v276.377C84.384,299.684,30,240.577,30,169z")
  symbol#crop(viewBox="0 0 561 561")
    path(d="M408,357h51V153c0-28.05-22.95-51-51-51H204v51h204V357zM153,408V0h-51v102H0v51h102v255c0,28.05,22.95,51,51,51h255v102h51V459h102v-51H153z")
  symbol#fill(viewBox="0 0 16 16")
    path(d="M7.1 1.7l-1.2 1.1-2.3-2.4c-0.6-0.5-1.6-0.5-2.2 0-0.2 0.3-0.4 0.7-0.4 1.1s0.2 0.8 0.4 1.1l2.4 2.4-3.8 3.7 6.4 6.4 7-7.1-6.3-6.3zM2.1 1.9c0-0.1-0.1-0.3-0.1-0.4s0.1-0.3 0.1-0.4c0.2-0.1 0.6-0.1 0.8 0l2.4 2.4-0.8 0.7-2.4-2.3zM2.1 8l3.8-3.8 1.2 1.2c0.1 0.1 0.2 0.1 0.4 0.1s0.3 0 0.4-0.1c0.1-0.2 0.1-0.5-0.1-0.7l-1.2-1.2 0.4-0.4 5 4.9h-9.9z")
    path(d="M13.5 9c0 0-1.5 4.7-1.5 5.5s0.7 1.5 1.5 1.5 1.5-0.7 1.5-1.5-1.5-5.5-1.5-5.5z")
