section.contacts
  h2.visually-hidden Наши контакты
  .contacts__wrapper
    p.contacts__slogan Остались вопросы?
    p.contacts__slogan Свяжитесь с нами!
    .contacts__list
      .contacts__item
        b Звоните:
        a(href="tel:+78125556666") +7 (812) 555-66-66
      .contacts__item
        b Приезжайте в гости:
        p ул. Большая 
          br
          | Конюшенная, 19/8
      .contacts__item
        b Пишите:
        a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
  .contacts__map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.609793265891!2d30.32267023857088!3d59.938616828077464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1498111005509", width="100%", height="100%", style="border:0", allowfullscreen)
