section.page-information
  h2.visually-hidden Возможности приложения
  .page-information__wrapper
    p.page-information__slogan Устали от серости мегаполиса?
    p.page-information__slogan Нам есть, что вам предложить!
  .application-capabilities
    .application-capabilities__wrapper
      .application-capabilities__item
        b Поднимает настроение
        p Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
      .application-capabilities__item
        b Меняет мир вокруг
        p Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
      .application-capabilities__item
        b Заводит новых друзей
        p Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых
