section.price
  h2.visually-hidden Прайс-лист
  .second-swiper-container
    .swiper-wrapper.price__table
      .price__column.price__column--hidden
        .price__cell Розовый фильтр
        .price__cell Смайлики
        .price__cell Комментарии
      .swiper-slide.price__column
        .price__header.price__header--left-radius База 
          br
          span 1,99 USD
        .price__cell.price__cell--yes
          span Розовый фильтр
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
        .price__cell.price__cell--no
          span Смайлики
          svg(width="26.752px", height="26.752px")
            use(xlink:href="#no")
        .price__cell.price__cell--no
          span Комментарии
          svg(width="26.752px", height="26.752px")
            use(xlink:href="#no")
      .swiper-slide.price__column
        .price__header.price__header--gray-border-left Стандарт 
          br
          span 3,99 USD 
          .flag-hit Хит
        .price__cell.price__cell--yes
          span Розовый фильтр
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
        .price__cell.price__cell--yes
          span Смайлики
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
        .price__cell.price__cell--no
          span Комментарии
          svg(width="26.752px", height="26.752px")
            use(xlink:href="#no")
      .swiper-slide.price__column
        .price__header.price__header--gray-border-left.price__header--right-radius Анлим 
          br
          span 9,99 USD 
        .price__cell.price__cell--yes
          span Розовый фильтр
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
        .price__cell.price__cell--yes
          span Смайлики
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
        .price__cell.price__cell--yes
          span Комментарии
          svg(width="30.375px", height="21.688px")
            use(xlink:href="#yes")
    .swiper-pagination
        
        
