section.reviews
  h2.visually-hidden Отзывы
  img.reviews__quotes-icon(src="img/quotes.png", width="79", height="63")
  .swiper-container
    .swiper-wrapper.reviews__wrapper
      .swiper-slide.reviews__item
        p.reviews__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
        b.reviews__name Николай Петров
        p.reviews__info 25 лет, водитель трамвая
      .swiper-slide.reviews__item
        p.reviews__text «Отличное приложение»
        b.reviews__name Виктор Анатольев
        p.reviews__info 20 лет, пилот
      .swiper-slide.reviews__item
        p.reviews__text «Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
        b.reviews__name Анастасия Иванова
        p.reviews__info 40 лет, кассир
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev
