.round-diagram
  h2.visually-hidden Эффективность доказана учеными!
  .round-diagram__wrapper
    b Эффект 
      br 
      | на 24 часа!
    p Британские ученые провели исследования и доказали, что положительный эффект от использования приложения длится целые сутки!
    a(href="#") Узнать больше об исследовании
