doctype html
html
  head
    title HTML Academy: pink
    link(href='css/swiper--min.css', rel='stylesheet') 
    include jade/partials/head   
    script(src='js/jquery-3.2.1--min.js' type='text/javascript')
    
  body
    include jade/pages/index/svg
    include jade/partials/social-svg
    
    header.page-header   
      include jade/partials/header
      
    main      
      include jade/pages/index/page-information
      include jade/pages/index/round-diagram
      include jade/pages/index/reviews
      include jade/pages/index/price
      include jade/pages/index/contacts
      
    footer.page-footer
      include jade/partials/footer
      
    script(src="js/script--min.js")
    script(src="js/swiper--min.js")
    script.
      var swiper = new Swiper('.swiper-container', {pagination: '.swiper-pagination',paginationClickable: true,loop: true,nextButton: '.swiper-button-next',prevButton: '.swiper-button-prev',spaceBetween: 30});
    script.
      if (window.matchMedia('(max-width: 759px)').matches) {var swiper2 = new Swiper('.second-swiper-container', {pagination: '.swiper-pagination',slidesPerView: 'auto',centeredSlides: true,paginationClickable: true,noSwiping: false,CSSWidthAndHeight: false,spaceBetween: 0});}
