doctype html
html
  head
    title Pink - конкурс
    include jade/partials/head
    
  body
    include jade/partials/social-svg
    
    header.page-header.page-header--page-inner-margin.page-header--bg-inner
      include jade/pages/page-competition/header
      
    main 
      include jade/pages/page-competition/form
      
    footer.page-footer.page-footer--inner-page
      include jade/partials/footer
      
    script(src="js/script--min.js")
