a.page-footer__logo Pink
.social
  a.social__btn(href="#", target="_blank")
    svg(width="17.5px", height="14.663px")
      use(xlink:href="#social-tw")
  a.social__btn(href="#", target="_blank")
    svg(width="8.673px", height="18.944px")
      use(xlink:href="#social-fb")
  a.social__btn(href="#", target="_blank")
    svg(width="14.64px", height="13.96px")
      use(xlink:href="#social-yt")
a.page-footer__developer(href="https://htmlacademy.ru", target="_blank") Разработано
