h1.visually-hidden Pink - взгляните на жизнь иначе!
nav.main-nav.main-nav--menu-open
  .main-nav__wrapper
    a.main-nav__logo Pink
    button(class="main-nav__toggle  main-nav__toggle--close", type="button") Открыть меню
    ul.main-nav__list
      li.main-nav__item.main-nav__item--active 
        a Главная
      li.main-nav__item 
        a(href="page-photos.html") Фотографии
      li.main-nav__item 
        a(href="#") Конкурс
      li.main-nav__item 
        a(href="#") HTML Academy
.intro
  .intro__wrapper
    b.intro__slogan Взгляните на жизнь иначе!
    a.intro__btn(href="#") Скачать приложение
    ul.store-icon
      li.store-icon__apple Apple store
      li.store-icon__google Google store
      li.store-icon__windows Windows store
    p.intro__legend Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8
