form.competition-form(action="#", method="post")
  h2.visually-hidden Форма для заполнения
  p.competition-form__title Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! Пожалуйста, заполните форму ниже:
  .competition-form__personal-data
    label.competition-form__label-text(for="surname") Фамилия:
    input.competition-form__input#surname(type="text", placeholder="Укажите фамилию")
    label.competition-form__label-text(for="name") Имя:
    input.competition-form__input#name(type="text", placeholder="Укажите имя")
    label.competition-form__label-text(for="midname") Отчество:
    input.competition-form__input#midname(type="text", placeholder="Укажите отчество")
  fieldset.competition-form__apps
    legend.competition-form__legend С каким приложением путешествовали?
    input.competition-form__input-radio#pinkIos(type="radio", name="pinkApp", value="pinkIos", checked)
    label.competition-form__label-check(for="pinkIos") Pink для iOS
    input.competition-form__input-radio#pinkAndroid(type="radio", name="pinkApp", value="pinkAndroid")
    label.competition-form__label-check(for="pinkAndroid") Pink на Android
    input.competition-form__input-radio#pinkWP(type="radio", name="pinkApp", value="pinkWP")
    label.competition-form__label-check(for="pinkWP") Windows Phone
  fieldset.competition-form__contacts
    legend.competition-form__legend Контактная информация
    input.competition-form__input--padding-right#tel(type="tel", placeholder="+7 ХХХ ХХХ-ХХ-ХХ")
    label.competition-form__label-check(for="tel") Номер телефона
    input.competition-form__input--padding-right#mail(type="mail", placeholder="Введите почту")
    label.competition-form__label-check(for="mail") Адрес почты
  fieldset.competition-form__achievements
    legend.competition-form__legend Ваши безбашенные достижения в путешествии
    input.competition-form__input-checkbox#selfieWithShark(type="checkbox", name="selfieWithShark", checked)
    label.competition-form__label-check(for="selfieWithShark") Сделал селфи с акулой
    input.competition-form__input-checkbox#burnt(type="checkbox", name="burnt", checked)
    label.competition-form__label-check(for="burnt") Обгорел на пляже
    input.competition-form__input-checkbox#sawChack(type="checkbox", name="sawChack")
    label.competition-form__label-check(for="sawChack") Видел Чака Норриса
    input.competition-form__input-checkbox#souvenirs(type="checkbox", name="souvenirs")
    label.competition-form__label-check(for="souvenirs") Накупил сувениров
    input.competition-form__input-checkbox#tower(type="checkbox", name="tower", checked)
    label.competition-form__label-check(for="tower") Удержал башню
    input.competition-form__input-checkbox#smash(type="checkbox", name="smash")
    label.competition-form__label-check(for="smash") Разгромил отель
  fieldset.competition-form__feedback
    legend.competition-form__legend Опишите свои эмоции
    textarea.competition-form__textarea(placeholder="Можно прям в красках, не стесняясь в выражениях")
  .competition-form__footer
    input.competition-form__btn(type="submit", value="Отправить форму")
    p.competition-form__footnote
      span 
        sup * 
      | — обязательные для заполнения поля
